* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background:#23242b;
    color: #fff;
}

.name-app{
    font-size: 30px;
    padding-left: 17px;
}

.name-app b {
    color: #127b8e;
}

.name-app i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    padding-left: 900px;
}
 .name-app i:hover {
     color: #127b8e;
 }

